In [2]:
import pandas as pd
import numpy as np
from pydataset import data
from scipy import stats

In [5]:
df = data('tips')
df

     total_bill   tip     sex smoker   day    time  size
1         16.99  1.01  Female     No   Sun  Dinner     2
2         10.34  1.66    Male     No   Sun  Dinner     3
3         21.01  3.50    Male     No   Sun  Dinner     3
4         23.68  3.31    Male     No   Sun  Dinner     2
5         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
240       29.03  5.92    Male     No   Sat  Dinner     3
241       27.18  2.00  Female    Yes   Sat  Dinner     2
242       22.67  2.00    Male    Yes   Sat  Dinner     2
243       17.82  1.75    Male     No   Sat  Dinner     2
244       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 244 entries, 1 to 244
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 15.2+ KB

is smoking independent from time of day

$H_o$ : there is no association between smokers and time of day
<br>
$H_a$ : there is an association between smokers and time of day

In [9]:
alpha = 0.05

In [11]:
df.smoker.value_counts()

No     151
Yes     93
Name: smoker, dtype: int64

In [13]:
df.time.value_counts()

Dinner    176
Lunch      68
Name: time, dtype: int64

make our condingency table

In [16]:
observed = pd.crosstab(df.time, df.smoker)
observed

smoker   No  Yes
time
Dinner  106   70
Lunch    45   23

use stats.chi2_contengency

In [20]:
chi2, p, degf, expected = stats.chi2_contingency(observed)

In [27]:
print('observed')
print(observed.values)
print('\nExpected')
print(expected.astype(int))
print('\n------------')
print(f'chi^2 = {chi2:.4f}')
print(f'p = {p:.4f}')
## the expected values from the chi2 test

observed
[[106  70]
 [ 45  23]]

Expected
[[108  67]
 [ 42  25]]

------------
chi^2 = 0.5054
p = 0.4771

##how do we get the expected values

In [32]:
df.smoker.value_counts(normalize =True)

No     0.618852
Yes    0.381148
Name: smoker, dtype: float64

In [34]:
df.time.value_counts(normalize =True)

Dinner    0.721311
Lunch     0.278689
Name: time, dtype: float64

In [37]:
0.618852 * 0.721311 * df.shape[0]

108.91788021316799

number of smokers that should come to dinner time 
use proportions to get the answers

In [36]:
df.shape

(244, 7)